h1 {
  font-family: 'Assistant', sans-serif;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(0,0,0,.2);
}

.nav-top {
  /*border-bottom: 1px solid #e4e4e4 !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) !important;*/
  background-color: transparent !important;
  z-index: 1000000;
  padding: 1rem !important;
}

.logo{
  height: 100%;
  font-size: 25px !important;
  color: #fff !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.img-logo {
  border-radius: 100px;
}

.nav-link {
  font-family: 'Assistant', sans-serif;
  color: #fff !important;
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    /*display: none;*/
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.text-header {
  z-index: 1000;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.header-text {
  font-size: 65px;
  line-height: 60px;
}

@media screen and (max-width: 750px) {
    .header-text {
      padding: 0 25px;
      font-size: 45px;
      line-height: 45px;
    }
}


.learn-more {
    bottom: 2.5%;
    display: inline-block;
    font-size: 1.2rem;
    left: 50%;
    padding: 20px;
    position: absolute;
    white-space: nowrap;
    z-index: 2;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media screen and (min-width: 750px) {
    .learn-more {
        font-size:1.2rem
    }
}

.learn-more a {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    border-bottom: none
}

.learn-more a:hover {
    color: rgba(255,255,255,0.9)
}

.card {
  border-radius: 0px;
  border: 1px solid rgba(0,0,0,.3);
}

.card-img-top {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.experience {
  background-color: #fff;
}

.featured-work {
  /*background-image: url("../img/wormz.png");
  background-attachment: fixed;
  background-repeat: repeat;*/
  margin: 0px;
  background-color: #fff;
}

.contact {
  background-image: url("../img/wormz.png");
  background-attachment: fixed;
  background-repeat: repeat;
  margin: 0px;
  background-color: #fff;
}

.footer {
  margin: 0px;
}

.footer-text {
  color: #fff;
  margin: 0px;
  padding: 20px;
}