<div class="homepage-hero-module">
    <div class="video-container">


      <nav class="navbar navbar-expand-lg navbar-light bg-light nav-top">
        <div class="container">
          <a class="navbar-brand" href="#header">
            <img src="/img/rudy-bitmoji2.png" class="img-thumbnail img-logo" width="50" height="50" alt="">
          </a>
          <a class="navbar-brand" href="#header">
            <h1 class="logo">Rudy Del Campo</h1>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#featuredwork">My Work</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Me</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="text-header">
        <h1 class="header-text">Hi, I'm Rudy and I build</h1>

        <h1>
          <div href="" class="typewrite header-text" data-period="2000" data-type='[ "web applications.", "landing pages.", "corporate websites." ]'>
            <span class="wrap"></span>
          </div>
        </h1>
      </div>

      <div class="learn-more text-center">
        <a href="#featuredwork">Check out my work
          <br>
          <i class="fa fa-chevron-down"></i>
        </a>
      </div>

      <div class="filter"></div>
      <video autoplay loop class="fillWidth">
          <source src="./img/Hello-World.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.

      </video>
      {{!-- <div class="poster hidden">
          <img src="/img/Hello-World.jpg" alt="">
      </div> --}}

    </div>
</div>


<div class="jumbotron jumbotron-fluid featured-work" id="featuredwork">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12">
        <h1 class="header-text text-center">Featured Work</h1>
        <hr style="width: 10%">

        <div class="row">
          <div class="" style="width: 50%; padding: 20px; float: left">
            <div class="card">
              <img class="card-img-top" src="./img/bingehunt.jpg" alt="Bingehunt.com">
              <div class="card-body">
                <h4 class="card-title">Bingehunt</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text">Node.js / MySQL</p>
                <a href="http://www.bingehunt.com" target="_blank" class="btn btn-dark">View</a>
                <a href="https://github.com/rdelcampo13/project-bingehunt" target="_blank" class="btn btn-dark">Github</a>
              </div>
            </div>
          </div>
          <div class="" style="width: 50%; padding: 20px; float: left">
            <div class="card">
              <img class="card-img-top" src="./img/moonbox.png" alt="Moonbox.io">
              <div class="card-body">
                <h4 class="card-title">Moonbox</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text">JQuery / Firebase</p>
                <a href="http://moonbox.io" target="_blank" class="btn btn-dark">View</a>
                <a href="https://github.com/rdelcampo13/moonbox2" target="_blank" class="btn btn-dark">Github</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="" style="width: 50%; padding: 20px; float: left">
            <div class="card">
              <img class="card-img-top" src="./img/fulkerson.jpg" alt="Moonbox.io">
              <div class="card-body">
                <h4 class="card-title">Fulkerson Lotz</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text">HTML / CSS / JQuery</p>
                <a href="http://hurricaneharveyfloodlawsuit.com/" target="_blank" class="btn btn-dark">View</a>
              </div>
            </div>
          </div>
          <div class="" style="width: 50%; padding: 20px; float: left">
            <div class="card">
              <img class="card-img-top" src="./img/samplr.png" alt="Moonbox.io">
              <div class="card-body">
                <h4 class="card-title">Samplr</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <p class="card-text">HTML / CSS / JQuery</p>
                <a href="https://rdelcampo13.github.io/samplr/" target="_blank" class="btn btn-dark">View</a>
                <a href="https://github.com/rdelcampo13/samplr" target="_blank" class="btn btn-dark">Github</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid contact" id="contact">
  <div class="container signup">
    <div class="row justify-content-md-center">
      <div class="col-md-6 auth-col">
        <h1 class="header-text text-center">Get In Touch</h1>
        <hr style="width: 20%">

        <!-- SIGNUP FORM -->
        <form id="signup" name="signup" method="post" action="/signup">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="text form-control" name="name" type="text" />
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input class="text form-control" name="email" type="email" />
          </div>
          <div class="form-group">
            <label for="name">Website</label>
            <input class="text form-control" name="website" type="text" />
          </div>
          <div class="form-group">
            <label for="password">Message</label>
            <textarea name="name" class="form-control" rows="4" cols="80"></textarea>
          </div>

          <button type="submit" class="btn btn-info btn-lg">Send</button>
        </form>
      </div>
    </div>
  </div>

</div>

<nav class="bg-dark text-center footer">
  <p class="footer-text">2017 &copy; Rudy Del Campo. All Rights Reserved.</p>
</nav>
